ion-card.cards-list-demo ion-card-header {
  color: map-get($colors, light-green);
}

.vote {
  right: 5px;
}

.categ {
  //color: map-get($colors, light-green);
}

.cards-list-demo {
  margin: 10px auto auto;
  width: 100%;
  max-width: 1000px;
}
