<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!nominees ">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{category }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group>
    <ion-list-header>
      {{category}}
    </ion-list-header>

    <ion-item *ngFor="let item of items">
      <ion-label>{{item.title}}</ion-label>
      <ion-radio checked="{{item.box}}" (click)="select($event, item)"></ion-radio>
    </ion-item>

  </ion-list>
</ion-content>
